node_modules/
coverage/
Weather.jpeg
style.css
forecast.css
contact.css
about.css
index.js
weather-utils.js
Weather-utils.test.js
home.html
forecast.html
contact.html
about.html
25.jpg
24.jpg
23.jpg
22.jpg
21.jpg
